.venv
.git
__pycache__
*.pyc
.vscode
ckpts/*
!ckpts/README.md
test_*
debug
output
tencent

# Docs & files not needed in containers
*.md
!ckpts/README.md
License.txt
.gcloudignore

# Unrelated directories
ssae/

# Local-only scripts
local_infer.py
